# Compiled Object files
*.slo
*.lo
*.o

# Compiled application
app

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated data files
*.tsv
*.csv

# Generated images
*.jpg
*.png
*.gif
